<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:label="ConectX"
        android:icon="@drawable/lauch_icon"
        android:theme="@style/Theme.AplicativoConect">

        <service
            android:name=".view.ui.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <!-- Serviço para tratar notificações após reinicialização do dispositivo -->
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="android.permission.WAKE_LOCK"
            tools:replace="android:permission">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.conect.aplicativoconect" />
            </intent-filter>
        </receiver>


        <!-- Tela de Splash -->
        <activity
            android:name=".view.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Demais Atividades -->
        <activity android:name=".view.ui.WelcomeActivity" android:exported="true" />
        <activity android:name=".view.ui.auth.RoleSelectionActivity" android:exported="true" />
        <activity android:name=".view.ui.auth.LoginActivity" android:exported="true" />
        <activity android:name=".view.ui.auth.SignupClientActivity" android:exported="true" />
        <activity android:name=".view.ui.auth.SignupBusinessActivity" android:exported="true" />
        <activity android:name=".view.ui.client.ClienteHomeActivity" android:exported="true" />
        <activity android:name=".view.ui.admin.AdminHomeActivity" android:exported="true" />
        <activity android:name=".view.ui.admin.RegisterBusinessActivity" android:exported="true" />
        <activity android:name=".view.ui.client.EmpresaDetalhesActivity" android:exported="true" />
        <activity android:name=".view.ui.client.SelecionarHorarioActivity" android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
