<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="ConectX"
        android:icon="@drawable/lauch_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicativoConect"
        tools:targetApi="31">

        <!-- Tela de Splash -->
        <activity
            android:name=".view.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela de boas-vindas -->
        <activity
            android:name=".view.ui.WelcomeActivity"
            android:exported="true" />

        <!-- Tela de Seleção de Papel -->
        <activity
            android:name=".view.ui.auth.RoleSelectionActivity"
            android:exported="true" />

        <!-- Tela de Login -->
        <activity
            android:name=".view.ui.auth.LoginActivity"
            android:exported="true" />

        <!-- Tela de Signup Cliente -->
        <activity
            android:name=".view.ui.auth.SignupClientActivity"
            android:exported="true" />

        <!-- Tela de Signup Negócio -->
        <activity
            android:name=".view.ui.auth.SignupBusinessActivity"
            android:exported="true" />

        <!-- Tela de Home do Cliente -->
        <activity
            android:name=".view.ui.client.ClientHomeActivity"
            android:exported="true" />

        <!-- Tela de Home do Admin -->
        <activity
            android:name=".view.ui.admin.AdminHomeActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
